div#auth
  div#register-box
    div.ui.left.icon.input#input-phone
      input(type="text" placeholder="原注册手机号")
      i.phone.icon
    div.ui.action.input#input-code
      input(type="text" placeholder="验证码")
      button.ui.button 获取验证码
    div.ui.left.icon.input#reg-password
      input(type="password" placeholder="新的密码")
      i.keyboard.icon
    div.ui.left.icon.input#reg-repeat
      input(type="password" placeholder="确认密码")
      i.keyboard.icon
    button.ui.button#reg-submit(type="submit") 确认
